*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}

h1 {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 56px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Sintony';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 110px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.header__logo {
  background-image: url('./img/header/logo2.png');
  width: 238px;
  height: 24px;
  background-repeat: no-repeat;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu-search {
  background-image: url('./img/header/search.svg');
  width: 24px;
  height: 24px;
}

.header__menu-link {
  font-family: 'Tomorrow', sans-serif;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.header__menu:last-child::after {
  content: "";
  background-image: url('./img/header/bag.svg');
  width: 24px;
  height: 24px;
}

.hero {
  height: 610px;
  background-image: url('./img/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__inner {
  position: relative;
  top: 0;
  left: 0;
}

.hero__heading {
  padding-top: 72px;
  max-width: 1240px;
}

.hero__product {
  width: 533px;
  height: 355px;
  position: absolute;
  left: 42.5%;
  top: 51.5%;
  z-index: 10;
}

.hero__line {
  width: 1030px;
  height: 3px;
  background: #484C32;
  position: absolute;
  left: 9%;
  top: 116%;
}

.hero__action {
  font-family: 'Tomorrow';
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #484C32;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  left: -2%;
  top: 130%;
  display: flex;
  align-items: center;
}

.hero__action::before {
  content: "";
  background-image: url('./img/hero/arrow.svg');
  width: 27px;
  height: 6px;
}

.overview {
  padding-top: 158px;
  padding-bottom: 164px;
}

.overview__image {
  width: 288px;
  height: 288px;
}

.overview__heading {
  max-width: 818px;
  float: right;
}

.description {
  height: 862px;
  background-image: url('./img/description/bg-overlay.png'),
    linear-gradient(90deg, #8AA195 -7.01%, #332E0B 139.37%);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 214px;
}

.description__heading {
  color: #ffffff;
  max-width: 1030px;
  margin: 0 auto;
}

.model {
  padding: 127px 0;
}

.model__image {
  width: 608px;
  height: 608px;
}

.model__content {
  float: right;
}

.model__content-heading {
  max-width: 606px;
  margin-bottom: 64px;
}

.model__content-description {
  max-width: 606px;
  font-size: 24px;
  line-height: 1.6;
}

.thesis {
  height: 862px;
  background-image: url('./img/thesis/image-thesis.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.thesis__heading {
  padding-top: 250px;
  padding-left: 705px;
}

.process {
  height: 1378px;
  background-image: url('./img/process/bg-process.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 322px;
}

.process__inner {
  position: relative;
  top: 0;
  left: 0;
}

.process__heading {
  margin-left: 105px;
  margin-bottom: 76px;
}

.process__description {
  max-width: 500px;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 42px;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.3;
  letter-spacing: 1px;
  border: 2px solid #000000;
  background: #FFFFFF;
  padding: 10px 28px;
  margin-top: 114px;
}

.process__item {
  position: absolute;
  left: 51%;
}

.first {
  top: -27%;
}

.second {
  top: 14%;
}

.third {
  top: 54%;
}

.process__inner {
  position: relative;
}

.process__item-image {
  width: 424px;
  height: 375px;
  position: relative;
  z-index: 37;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.process__item-line {
  width: 1030px;
  height: 3px;
  background: #484C32;
  position: absolute;
  z-index: 100;
  right: -18.5%;
  top: 56%;
  z-index: 17;
}

.process__item-title {
  font-family: 'Tomorrow';
  font-size: 14px;
  line-height: 130%;
  display: block;
}

.materials {
  padding: 160px 0;
}

.materials__inner {
  padding-left: 317px;
}

.materials__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.materials__list {
  padding-left: 8px;
  line-height: 1.8;
  max-width: 760px;
}

.materials__list-item {
  list-style-type: '—';
  padding-left: 8px;
}

.sustainability {
  height: 862px;
  background-image: url('./img/sustainability/overlay.png'), url('./img/sustainability/image-sustainability.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 370px;
  padding-bottom: 405px;
}

.sustainability__heading {
  text-transform: none;
  text-align: center;
}

.footer {
  padding-top: 42px;
  padding-bottom: 65px;
}

.footer__top {
  text-align: center;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
}

.button--footer {
  margin-top: 4px;
  padding: 10px 20px;
}

.footer__center {
  padding: 94px 95px 0;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 12px;
}

.footer__instagram {
  display: inline-block;
  background-image: url('./img/socials/logo-instagram.svg');
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.footer__facebook {
  display: inline-block;
  background-image: url('./img/socials/logo-facebook.svg');
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
}

.footer__nav {
  float: right;
  line-height: 40px;
  padding-left: 0;
}

.footer__nav-item {
  list-style-type: none;
}

.footer__nav-link {
  color: #000000;
  text-decoration: none;
}

.footer__bottom {
  padding-top: 80px;
}

.footer__policy {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0;
}

.footer__policy-item {
  list-style-type: none;
}

.footer__policy-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}