*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.about {
  padding: 32px 0;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 45.8%;
  column-gap: 24px;
}

.about__left {
  padding-top: 80px;
}

.about__left-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.55;
}

.about__left-heading {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.07;
  margin-bottom: 88px;
  padding-left: 15%;
}

.highlight {
  color: #71870E;
}

.highlight-bold {
  font-weight: 700;
}

.about__left-description {
  line-height: 28px;
  opacity: 0.85;
  max-width: 580px;
  margin-bottom: 40px;
  padding-left: 30%;
}

.about__left-btn {
  text-decoration: none;
  line-height: 24px;
  color: #CD9A3D;
  padding-left: 30%;
  position: relative;
}

.about__left-btn::before {
  content: "";
  background-color: #CD9A3D;
  height: 2px;
  width: 80px;
  position: absolute;
  top: 10px;
  right: 120px;
}

.about__thesis {
  font-size: 16px;
  line-height: 24px;
  color: #71870E;
  opacity: 0.8;
}

.about__right {
  position: relative;
  display: flex;
}

.image-second {
  display: flex;
  position: absolute;
  right: 60px;
  bottom: 100px;
}

.about__thesis {
  position: absolute;
  right: 280px;
  bottom: -100px;
}

@media all and (max-width: 1270px) {
  .about__thesis {
    right: 220px;
    bottom: -60px;
  }

  .about__left-title {
    padding-left: 10%;
  }

  .about__left-heading {
    font-size: 50px;
    margin-bottom: 50px;
    padding-left: 10%;
  }

  .about__left-description {
    margin-bottom: 32px;
    padding-left: 20%;
  }
  
  .about__left-btn {
    padding-left: 20%;
  }

  .about__right {
    justify-content: flex-end;
  }

  .image-second {
    right: 0;
  }
}

@media all and (max-width: 1079px) {

  .about__left-heading {
    text-align: center;
    padding: 0 20px;
    font-size: 40px;
  }

  .about {
    padding: 0;
  }

  .about__left {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .about__left-description {
    padding: 0 20px;
  }

  .about__left-btn {
    float: right;
    padding: 0 20px;
  }

  .about__left-title, .about__thesis {
    display: none;
  }

  .about__inner {
    grid-template-columns: 1fr;
  }

  .image-second {
    bottom: -100px;
  }
}