@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.icon-close {
  width: 15px;
  height: 2px;
}

.icon-open {
  width: 15px;
  height: 15px;
}