@font-face {
  font-family: 'Basis Grotesque Pro';
  src:
    url('../fonts/BasisGrotesquePro-Light.woff2') format('woff2'),
    url('../fonts/BasisGrotesquePro-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src:
    url('../fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
    url('../fonts/BasisGrotesquePro-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src:
    url('../fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
    url('../fonts/BasisGrotesquePro-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}